/*dede58.com 做最好的织梦整站模板下载网站*/
body{
	text-align:center;
	font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;
	text-align:center;
	font-size:14px;
	line-height:150%;
	color:#fff;
	background:#79B8C8;
	scrollbar-arrow-color:#62ABBD;
	scrollbar-face-color:#62ABBD;
	scrollbar-3dlight-color: #C5E0E7;
	scrollbar-highlight-color:#C5E0E7;
}
