<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/购物车.css">
</head>

<body>
    <div class="shortcut" id="top">
        <div class="w">
            <div class="fl">
                <ul>
                    <li>淘宝欢迎您!　</li>
                    <li>
                        <a href="#">请登录</a>
                        <a href="#" class="style-red">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li><a href="">我的订单</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">我的淘宝</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                    <li class="spacer"></li>
                    <li><a href="#">淘宝购会员</a></li>
                    <li class="spacer"></li>
                    <li><a href="#">企业采购</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">关注淘宝</a>
                    </li>
                    <li><a href=""><b></b></a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">客户服务</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                    <li class="spacer"></li>
                    <li>
                        <a href="#">网站导航</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="header w">
        <div class="logo">
            <h1><a href="/">返回 </a></h1>
            <h2>购物车</h2>
        </div>
        <div class="search">
            <input type="text" class="text" placeholder="自营">
            <button class="btn">搜索</button>
        </div>
    </div>
    <div class="wareshome w">
        <div class="holdwares">
            <div class="setholdwares">
                <div class="allcheckedbox">
                    <div class="checkallinput"><input type="checkbox" name="" id="" class="checkall">
                        &nbsp;&nbsp;全选
                    </div>
                    <div class="today3">商品信息</div>
                    <div class="today1">单价（元）</div>
                    <div class="today1">数量（个）</div>
                    <div class="today1">金额（元）</div>
                    <div class="today1">操作</div>
                </div>


                <div class="holdshop w">
                    <!-- <div class="shop">
                        <input type="checkbox" name="" id="" class="checkone">
                        <div class="wareinfo">
                            <div class="warepic"><img src="" alt=""></div>
                            <div class="warename"></div>
                            <div class="dollor">
                                <p>￥</p>
                            </div>
                            <div class="wareprice"></div>
                            <div class="warenum"><button class="reduce">-</button>
                                <div class="num">1</div><button class="add">+</button>
                            </div>
                            <div class="dollor">
                                <p>￥</p>
                            </div>
                            <div class="wareallprice"></div>
                            <div class="waredel setdel">删除</div>
                        </div>
                    </div> -->
                    <!-- <div class="noware w"> -->
                        <!-- <div class="nowarepic">
                            <h2>您的购物车还是空空如也，赶紧去选购吧！</h2>
                        </div> -->
                    <!-- </div> -->
                </div>

                <div class="account w">
                    <div class="checkallinput"><input type="checkbox" name="" id="" class="checkall">
                        <p>全选</p>
                    </div>
                    <a href="">
                        <div class="morewaredel">删除</div>
                    </a>
                    <div class="statistics">已选商品<p>0</p>件</div>
                    <div class="kong"></div>
                    <div class="finalprice">合计（不含运费）：<z>￥</z>
                        <p>0</p>
                    </div>
                    <a href="/buy">
                        <div class="submit fr">结算</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/gowu.js"></script>
</body>

</html>