<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="stylesheets/pixel.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/aos.css">
    <link rel="stylesheet" href="stylesheets/css/style.css">
</head>
<body>
    <form action="/check" method="POST">
        <input placeholder="宠物店名称" name="name" type="text">
        <input placeholder="宠物店地址" name="address" type="text">
        <input placeholder="联系人" name="people" type="text">
        <input type="text" placeholder="联系方式" name="phone">
        <input type="text" placeholder="userid" name="userid">
        <br/>
        <input type="submit" placeholder="提交">
    </form>
</body>
</html>