<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台头部</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
</head>

<body>
<div class="header clearfix">
	<div class="head_l">
    	<div class="logo"><a href="">&nbsp;</a></div>
        <span><a href="">北京大战子宠物店</a></span>
    </div>
    <div class="head_r">
    	<span>欢迎您，管理员 晚上好！</span>
        <a href="">注销</a>
    </div>
</div>
<div class="nav">
	<ul class="clearfix">
    	<li class="now"><a href="">首页</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">宠物店</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">摄像头</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">安全日记</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">在线帮助</a></li>
    </ul>
</div>
</body>
</html>
