<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>剁手网</title>
    <link rel="stylesheet" href="stylesheets/produce.css">
</head>

<body>

    <div class="shortcut" id="top">
        <div class="w">
            <div class="fl">
                <ul>
                    <li>天猫欢迎您!　</li>
                    <li>
                        <a href="/signin">请登录</a>
                        <a href="/siginup" class="style-red">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li><a href="./电商-提交订单.html">我的订单</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">我的天猫</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                    <li class="spacer"></li>
                    <li><a href="#">天猫购会员</a></li>
                    <li class="spacer"></li>
                    <li><a href="#">企业采购</a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">关注天猫</a>
                    </li>
                    <li><a href=""><b></b></a></li>
                    <li class="spacer"></li>
                    <li>
                        <a href="#">客户服务</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                    <li class="spacer"></li>
                    <li>
                        <a href="#">网站导航</a>
                    </li>
                    <li><a href=""><b></b></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="header w">

        <div class="logo">
            <h1><a href="" title="品优购 ">天猫 </a></h1>
        </div>

        <form action="/" method="POST">
            <div class="search">
                <input type="text" class="text" placeholder="search everything" name="sname">
                <button class="btn" type="submit">搜索</button>
            </div>
        </form>

        <div class="hotwrods">
            <a href="#" class="style-red">优惠购首发</a>
            <a href="#">亿元优惠</a>
            <a href="#">9.9元团购</a>
            <a href="#">美满99减30</a>
            <a href="#">办公用品</a>
            <a href="#">电脑</a>
            <a href="#">通信</a>
        </div>

        <a href="/cart">
            <div class="shopcar">
                <span class="iconfont" style="color:red;">&#xe60d;</span>　我的购物车<i class="arrow">></i>
                <i class="count1">12</i>
            </div>
        </a>
    </div>

    <div class="shophome">
        <div class="holdset">
            <div class="setshopbox">
                <div class="shop shopnamefasion">
                    <h3>潮流女装店</h3>
                    <% for(let i of data){ %>
                    <div class="ware">
                        <div class="warepic"><a href="/shopdetail/<%=i.id%>"><img src="<%=i.img%>" alt=""></a></div>
                        <div class="wareinfo">
                            <p><%=i.pname%></p>
                            <p><%=i.price%></p>
                            <div class="count">
                                <button class="reduce">-</button>
                                <div class="num">1</div>
                                <button class="add">+</button>
                                <a href=""><button class="addcar">加入购物车</button></a>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
                
                
                    
                    

                </div>

            </div>
        </div>
    </div>
    <script src="javascripts/shop.js"></script>
</body>

</html>