<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lazy - Bootstrap UI Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link href="images/img/favicon.ico" rel="icon" type="image/png">
    
    <link rel="stylesheet" href="stylesheets/vendor/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/css/lazy.css">
		<link rel="stylesheet" href="stylesheets/css/demo.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link type="text/css" href="stylesheets/pixel.css" rel="stylesheet">
  </head>
  <body class="index">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="./"><img src="images/img/logo.svg" alt="Example Navbar 1" class="mr-2" height="30"> Lazy cat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                    <i class="fas fa-angle-down nav-link-arrow"></i>
                    <span class="nav-link-inner-text">About</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/about-startup" target="_blank" >About Lazycat</a></li>
                    
                    <li><a class="dropdown-item" href="/contact" target="_blank">Contact</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                    <i class="fas fa-angle-down nav-link-arrow"></i>
                    <span class="nav-link-inner-text">Support</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg">
                    <div class="col-auto px-0" data-dropdown-content>
                        <div class="list-group list-group-flush">
                            <a href="./docs/introduction.html" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                <span class="icon icon-sm icon-secondary"><i class="fas fa-file-alt"></i></span>
                                <div class="ml-4">
                                    <span class="text-dark d-block">Documentation<span class="badge badge-sm badge-secondary ml-2">v1.0</span></span>
                                    <span class="small">Examples and guides</span>
                                </div>
                            </a>
                            <a href="https://themesberg.com/contact" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                <span class="icon icon-sm icon-primary"><i class="fas fa-microphone-alt"></i></span>
                                <div class="ml-4">
                                    <span class="text-dark d-block">Support</span>
                                    <span class="small">Looking for answers? Ask us!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                      <i class="fas fa-angle-down nav-link-arrow"></i>
                      <span class="nav-link-inner-text">shop</span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/shopping" target="_blank" >shopping</a></li>
                  </ul>
           
        </ul>
      </div>
    
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                <i class="fas fa-angle-down nav-link-arrow"></i>
                <span class="nav-link-inner-text">Reister/Signin</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/signin" target="_blank">Login</a></li>
            </ul>
        </li>
      </ul>
    </nav>

	<div class="page-hero bg-primary text-white" id="banner">
		<div class="bubbles d-none d-md-block">
<!-- 				bubbles -->
      <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
      <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
      <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
      <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
      <div class="bubble bubble-5 bg-info rotate-bubble"></div>
      <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
      <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
      <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
      <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
      <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
      <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
      <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
      <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
<!--         circles -->
      <div class="circle circle-1 bg-light rotate-circle"></div>
      <div class="circle circle-2 bg-success rotate-circle"></div>
      <div class="circle circle-3 bg-danger rotate-circle"></div>
      <div class="circle circle-4 bg-info rotate-circle"></div>
      <div class="circle circle-5 bg-success rotate-circle"></div>
      <div class="circle circle-6 bg-info rotate-circle"></div>
      <div class="circle circle-7 bg-warning rotate-circle"></div>
      <div class="circle circle-8 bg-white rotate-circle"></div>
      <div class="circle circle-9 bg-warning rotate-circle"></div>
      <div class="circle circle-10 bg-danger rotate-circle"></div>
		</div>
  	<div class="container">
      <div class="row">
        <div class="col-12 col-lg-8  offset-lg-2 text-center">
	          <div class="title">
	            <h1 class="display-2 text-white">Lazy Cat</h1>
	            <h4 class="text-white">A new design system for developing with less effort.</h4>
	          </div>
            <div class="credits">
							<p class="text-white mb-0 small">Made with <span class="text-danger"><i class="fas fa-heart"></i></span> by</p>
							<img src="images/img/bb_logo_white.png" alt="Lazy Kit" width="150">
            </div>
        </div>
      </div>
    </div>
	</div>

<div class="intro bg-light">
  <div class="container">
    <div class="section desc">
	    <div class="row">
		    <div class="col-12 col-md-8 offset-md-2">
							<p class="lead"><b>Lazy Cat</b> is a complete design system built on Bootstrap 4. It is created for all web makers that want to get a project off the ground quickly and neatly. It overwrites all Bootstrap 4 components and adds 2 more plugins. It also comes with 3 example pages.</p>
		    </div>
	    </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="stylesheets/vendor/popper/popper.min.js"></script>
    <script src="stylesheets/vendor/bootstrap/bootstrap.min.js" ></script>

    <!-- optional plugins -->
    <script src="stylesheets/vendor/nouislider/js/nouislider.min.js"></script>

    <!--   lazy javascript -->
    <script src="javascripts/js/lazy.js"></script>
  </body>
</html>
