<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台左侧</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
<script type="text/javascript" src="Assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.yiji .erji').show();
	$('.yiji .yi').click(function(){
		$(this).siblings('.erji').toggle();
		$(this).children('em').toggleClass('zk');
	});
});
</script>
</head>

<body>
<div class="box_l">
	<ul class="yiji">
    	<li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>账号设置</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">修改密码</a>
                </li>
                <li class="now_li">
                	<span>&nbsp;</span>
                	<a href="">支付宝账号</a>
                </li>
                <li>
                	<span>&nbsp;</span>
                	<a href="">账号安全</a>
                </li>
            </ul>
        </li>
        <li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>导航管理</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">添加宠物店</a>
                </li>
                <li>
                	<span>&nbsp;</span>
                	<a href="">查看宠物店</a>
                </li>
            </ul>
        </li>
        <li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>服务器状态</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">添加摄像头</a>
                </li>
                <li>
                	<span>&nbsp;</span>
                	<a href="">查看摄像头</a>
                </li>
            </ul>
        </li>
        <li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>路径配置</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">查看路径</a>
                </li>
            </ul>
        </li>
        <li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>服务器状态</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">添加摄像头</a>
                </li>
                <li>
                	<span>&nbsp;</span>
                	<a href="">查看摄像头</a>
                </li>
            </ul>
        </li>
        <li>
        	<div class="yi">
            	<em class="sq">&nbsp;</em>
                <span>路径配置</span>
            </div>
            <ul class="erji">
            	<li>
                	<span>&nbsp;</span>
                	<a href="">查看路径</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
