<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台首页</title>
<link rel="stylesheet" type="text/css" href="stylesheets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/css/thems.css">
</head>

<body>
<div class="mian clearfix">
<!-- <iframe class="head" frameborder="0" src="/header">&nbsp;</iframe>
<iframe class="left" frameborder="0" src="/left">&nbsp;</iframe>
<iframe class="right" frameborder="0" src="/minddle1">&nbsp;</iframe>
<iframe class="foot" frameborder="0" src="/foot">&nbsp;</iframe> -->
<div class="header clearfix">
	<div class="head_l">
    	<div class="logo"><a href="">&nbsp;</a></div>
        <span><a href="">北京大战子宠物店</a></span>
    </div>
    <div class="head_r">
    	<span>欢迎您，管理员 晚上好！</span>
        <a href="">注销</a>
    </div>
</div>
<div class="nav">
	<ul class="clearfix">
    	<li class="now"><a href="">首页</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">宠物店</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">摄像头</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">安全日记</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="">在线帮助</a></li>
    </ul>
</div>
<div class="maina">
	<!--查询-->
    <div class="refer">
    	<form action="" method="post">
    	<span class="r1">精确查询</span>
        <span class="name">姓名：<input name="" type="text"></span>
        <span class="tel">联系方式：<input name="" type="text"></span>
        <span class="userid">UserID：<input name="" type="text"></span>
        <a href="">查 询</a>
        </form>
    </div>
    <!--查询-->
    <table border="0" cellpadding="0" cellspacing="0">
      <tr class="title">
        <th width="105" scope="col">宠物店名称</th>
        <th width="205" scope="col">宠物店地址</th>
        <th width="72" scope="col">联系人</th>
        <th width="120" scope="col">联系方式</th>
        <th width="90" scope="col">宠物店pic</th>
        <th width="75" scope="col">UserID</th>
        <th width="145" scope="col">操作</th>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
    </table>
	<!--分页-->
    <div class="page">
    	<span>共300条数据</span>
        <span>第1-10条</span>
        <a href="">首页</a>
        <a href="">上一页</a> 
        <a href="" class="now_p">1</a> 
        <a href="">2</a> 
        <a href="">3</a> 
        <a href="">4</a> 
        <a href="">5</a> 
        <a href="">上一页</a> 
        <a href="">末页</a> 
        <span>跳到第<a href="">&nbsp;</a>页</span>
         
    </div>
    <!--分页-->
</div>
<div class="foot">
	<span>版权所有：xxx宠物会所</span>
    <span>地址：广东省广州市天河区</span>
</div>
</div>
<script type="text/javascript" src="javascripts/js/jquery-1.8.3.min.js"></script>
<script language="javascript">
$(function(){
	var w_h=$(window).height()-230;
	$('.mian .right').height(w_h+'px');
	$('.mian .left').height(w_h+'px');
});
</script>
</body>
</html>
