<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台中间2</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
</head>

<body>
<div class="mainb">
    <table border="0" cellpadding="0" cellspacing="0">
    <form action="" method="post">
      <tr>
        <th scope="row">摄像头编号：</th>
        <td><input name="" type="text"></td>
      </tr>
      <tr>
        <th scope="row">摄像头编号名称：</th>
        <td><input name="" type="text"></td>
      </tr>
      <tr>
        <th scope="row">宠物店编号：</th>
        <td><input name="" type="text"></td>
      </tr>
      <tr>
        <th scope="row">视频路径：</th>
        <td><input name="" type="text"></td>
      </tr>
      <tr>
        <th scope="row">&nbsp;</th>
        <td>
        	<a href="" class="edit">确 定</a>
            <a href="" class="save">重 置</a>
        </td>
      </tr>
    </form>
    </table>

</div>
</body>
</html>
































