<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台中间3</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
</head>

<body>
<div class="mainc clearfix">
	<dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <dl>
    	<dt><a href=""><img src="Assets/images/pic2.png" alt=""/></a></dt>
        <dd>
        	<span><a href="" class="name">摄像头1</a></span>
            <a href="" class="detail">查看详情</a>
        </dd>
    </dl>
    <div class="space_hx">&nbsp;</div>
    <!--分页-->
    <div class="page">
    	<span>共300条数据</span>
        <span>第1-10条</span>
        <a href="">首页</a>
        <a href="">上一页</a> 
        <a href="" class="now_p">1</a> 
        <a href="">2</a> 
        <a href="">3</a> 
        <a href="">4</a> 
        <a href="">5</a> 
        <a href="">上一页</a> 
        <a href="">末页</a> 
        <span>跳到第<a href="">&nbsp;</a>页</span>
         
    </div>
    <!--分页-->
</div>
</body>
</html>
































