<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>后台中间1</title>
<link rel="stylesheet" type="text/css" href="Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="Assets/css/thems.css">
</head>

<body>
<div class="maina">
	<!--查询-->
    <div class="refer">
    	<form action="" method="post">
    	<span class="r1">精确查询</span>
        <span class="name">姓名：<input name="" type="text"></span>
        <span class="tel">联系方式：<input name="" type="text"></span>
        <span class="userid">UserID：<input name="" type="text"></span>
        <a href="">查 询</a>
        </form>
    </div>
    <!--查询-->
    <table border="0" cellpadding="0" cellspacing="0">
      <tr class="title">
        <th width="105" scope="col">宠物店名称</th>
        <th width="205" scope="col">宠物店地址</th>
        <th width="72" scope="col">联系人</th>
        <th width="120" scope="col">联系方式</th>
        <th width="90" scope="col">宠物店pic</th>
        <th width="75" scope="col">UserID</th>
        <th width="145" scope="col">操作</th>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
      <tr>
        <td>瑞鹏宠物</td>
        <td>深圳市罗湖区罗湖大道</td>
        <td>张三</td>
        <td>13423246789</td>
        <td>Pic</td>
        <td>001</td>
        <td><a href="">查看</a>&nbsp;|&nbsp;<a href="">编辑</a>&nbsp;|&nbsp;<a href="">删除</a></td>
      </tr>
    </table>
	<!--分页-->
    <div class="page">
    	<span>共300条数据</span>
        <span>第1-10条</span>
        <a href="">首页</a>
        <a href="">上一页</a> 
        <a href="" class="now_p">1</a> 
        <a href="">2</a> 
        <a href="">3</a> 
        <a href="">4</a> 
        <a href="">5</a> 
        <a href="">上一页</a> 
        <a href="">末页</a> 
        <span>跳到第<a href="">&nbsp;</a>页</span>
         
    </div>
    <!--分页-->
</div>
</body>
</html>
































