<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>详情页面</title>
<link href="http://localhost:3000/stylesheets/shopdetail.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-----商品详情部分------->
<div class="shopdetails">
	<a href="/" >
		
		返回
	</a>
	<!-------放大镜-------->
	<div id="leftbox">
        <div id="showbox">
          <%for(let o of data){%>
         <a href="/shopdetail/<%=o.id%>" ><input type="image" src="http://localhost:3000/<%=o.img%>" width="400" height="550"  alt="" name="img" /></a>
		</div>
 

	</div><!--展示图片盒子-->
		<div id="showsum"></div><!--展示图片里边-->
		<p class="showpage">
 		 <a href="javascript:void(0);" id="showlast"> < </a>
  		 <a href="javascript:void(0);" id="shownext"> > </a>
		</p>
        
	</div>
    <!----中间----->

    <div class="centerbox"  >
    	<p class="imgname" ><input name="name" value="<%=o.pname%>" style="outline:medium;
		border-width:0;" /></p>
    	<p class="Aprice">价格：<samp><input value="<%=o.price%>" style="outline: medium;
		border-width: 0;     text-decoration: line-through;	"  name="price" /></samp></p>
    	<p class="price">促销价：<samp><input value="<%=o.pprice%>" style="color: #D00;
			font-size: 20px;
			font-weight: bold;
			outline: medium;
			border-width: 0;" name="pprice" /></samp></p>
        <div class="clear"></div>
        <p class="buy">
			<a href="/buy" id=""><input style=" display: block;
				width: 203px;
				height: 51px;
				color: #000;
				border: 1px solid #ccc;
				float: left;
				font-size: 16px;
				font-weight: bold;
				font-family: Microsoft YaHei,arial;
				margin-left: -1px;
				background-color: #fff;
				text-align: center;
				line-height: 50px;" type="button" id="<%=o.id%>"  value="立即购买" /></a>
		</p>
   		<div class="clear"></div>

        <p class="fuwu">服务承诺： <img src="http://localhost:3000/images/tell08.png" style="margin: -3px;
            width: 307px;" /></p>
        <p class="pay">支付方式： <img src="http://localhost:3000/images/tell09.png" /></p>
    
    </div>
    <%}%>
</div>
</body>
<script src="http://localhost:3000/javascripts/jquery-1.9.1.min.js"></script>
<script src="http://localhost:3000/javascripts/common.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
	  var showproduct = {
		  "boxid":"showbox",
		  "sumid":"showsum",
		  "boxw":400,
		  "boxh":550,
		  "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
		  "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
		  "sumi":7,//列表间隔
		  "sums":5,//列表显示个数
		  "sumsel":"sel",
		  "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
		  "lastid":"showlast",
		  "nextid":"shownext"
		  };//参数定义	  
	 $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
	 
	 $(function(){

		$('.tabs a').click(function(){
			
			var $this=$(this);
			$('.panel').hide();
			$('.tabs a.active').removeClass('active');
			$this.addClass('active').blur();
			var panel=$this.attr("href");
			$(panel).show();				
			return fasle;  //告诉浏览器  不要纸箱这个链接
			})//end click
			
			
			$(".tabs li:first a").click()   //web 浏览器，单击第一个标签吧
	

		
		})//end ready
		
		$(".centerbox li").click(function(){
			$("li").removeClass("now");
			$(this).addClass("now")
			
			});
		
			
});	
</script>

</html>
