<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>详情页面</title>
<link href="http://localhost:3000/stylesheets/shopdetail.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-----商品详情部分------->
<div class="shopdetails">
	<!-------放大镜-------->
	<div id="leftbox">
        <div id="showbox">
        <%for(let o of data){%>

  <img src="http://localhost:3000/<%=o.img%>" width="400" height="550" />
 

	</div><!--展示图片盒子-->
		<div id="showsum"></div><!--展示图片里边-->
		<p class="showpage">
 		 <a href="javascript:void(0);" id="showlast"> < </a>
  		 <a href="javascript:void(0);" id="shownext"> > </a>
		</p>
        
	</div>
    <!----中间----->

    <div class="centerbox">

    	<p class="imgname"><%=o.pname%></p>
    	<p class="Aprice">价格：<samp><%=o.price%></samp></p>
    	<p class="price">促销价：<samp><%=o.pprice%></samp></p>
        <div class="clear"></div>
        <p class="buy"><a href="#" id="firstbuy">立即购买</a><a href="#">加入购物车</a></p>
   		<div class="clear"></div>

        <p class="fuwu">服务承诺： <img src="http://localhost:3000/images/tell08.png" style="margin: -3px;
            width: 307px;" /></p>
        <p class="pay">支付方式： <img src="http://localhost:3000/images/tell09.png" /></p>
    
    </div>
    <%}%>
</body>
<script src="http://localhost:3000/javascripts/jquery-1.9.1.min.js"></script>
<script src="http://localhost:3000/javascripts/common.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
	  var showproduct = {
		  "boxid":"showbox",
		  "sumid":"showsum",
		  "boxw":400,
		  "boxh":550,
		  "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
		  "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
		  "sumi":7,//列表间隔
		  "sums":5,//列表显示个数
		  "sumsel":"sel",
		  "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
		  "lastid":"showlast",
		  "nextid":"shownext"
		  };//参数定义	  
	 $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
	 
	 $(function(){

		$('.tabs a').click(function(){
			
			var $this=$(this);
			$('.panel').hide();
			$('.tabs a.active').removeClass('active');
			$this.addClass('active').blur();
			var panel=$this.attr("href");
			$(panel).show();				
			return fasle;  //告诉浏览器  不要纸箱这个链接
			})//end click
			
			
			$(".tabs li:first a").click()   //web 浏览器，单击第一个标签吧
	

		
		})//end ready
		
		$(".centerbox li").click(function(){
			$("li").removeClass("now");
			$(this).addClass("now")
			
			});
		
			
});
	
			
		
		
</script>
</html>
